/* Existing CSS */

body {
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

.navbar-brand,
.nav-item {
  font-weight: bolder;
  font-family: "Satisfy", Monospace !important;
  margin: auto;
}

h2 {
  margin-bottom: 0;
  font-family: "Lobster";
  color: #4b515d;
}
#Standard .table-responsive-sm,
#Scientific .table-responsive {
  display: block;
  overflow-x: auto !important;
  white-space: nowrap;
  border: 0;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: -100px;
  cursor: pointer;
  padding-top: 20%;
  padding-left: 10%;
  padding-right: 10%;
  font-family: "Lobster";
  font-weight: bolder;
}

#Standard_result,
#Scientific_result {
  text-align: right;
  color: white;
  margin-top: 0;
  width: 14.2em;
  height: 50px;
  background: #4b515d;
}

#Scientific_result {
  width: 26.5em;
}

input[type="button"] {
  width: 50px;
  height: 50px;
  margin: none;
  align-content: center;
  max-width: 100%;
}

#Standard #equate {
  width: 6.8em;
}
#Scientific #equate {
  width: 17.8vw;
}

@media (max-width: 768px) {
  #Standard .table-responsive-sm,
  #Scientific .table-responsive {
    margin-left: 5%;
    margin-right: 5%;
  }
}

@media (max-width: 576px) {
  #Standard .table-responsive-sm,
  #Scientific .table-responsive {
    margin-left: 2%;
    margin-right: 2%;
  }
}
